{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-9">
        <h1 class="text-center">Manual</h1>
        <hr>
    
        <h3>How to scan website:</h3>
        <p>1. Navigate to the Vulnerability Scanner tab on the navigation bar. <br> 2. Enter the url in this format "example.com" <br> Click the scan button and wait for the results.</p>
        <hr>
    
        <h3>How to scan network:</h3>
        <p>1. Navigate to the Network Scanner tab on the navigation bar. <br> 2. Enter the url/ip in this format "example.com" " /" " ip:port" " /" " ip address"</p>
        <hr>

        <h3>Also explore the Cybersecurity Awarness Page:</h3>
        <p>Navigate to the Cybersecurity awarness page. <br> You could also navigate to the bottom of the page and visit the referred urls.</p>
        <hr>

        <h3>Please feel free to drop a mail on sugyansapkota.work@gmail.com in case of any inquiries.</h3>
      </div>
    </div>

{% endblock content %}